{{> head }}



    {{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1> CR7</h1>
            <p>
                Cristiano Ronaldo dos Santos Aveiro, GOIH, ComM​​​, más conocido como Cristiano Ronaldo, es un futbolista portugués que juega como delantero en la Juventus F. C. de la Serie A de Italia y en la selección de Portugal, de la cual es su capitán
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/15969084343304.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}